[submodule ".config/tmux/plugins/tmux"]
	path = .config/tmux/plugins/tmux
	url = https://git::@github.com/dracula/tmux
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
